In [ ]:
# Importing Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('data/tmdb-movies.csv')
df.shape

## Explore the data

In [ ]:
map_years = {
    
}

In [ ]:
# Display random film
df.sample(1).iloc[0]

In [ ]:
df.describe().T

# The budjet and revenue columns have 0 in min and first quartile and median , thats no sense

In [ ]:
# replace 0 with a mean number
budget_mean  = df['budget_adj'].mean()
revenue_mean = df['revenue_adj'].mean()

df['budget_adj'].replace(0, budget_mean, inplace=True)
df['revenue_adj'].replace(0, revenue_mean, inplace=True)

In [ ]:
df.describe().T

In [ ]:
df.describe(include='O').T

In [ ]:
# Drop duplicates
sum(df.duplicated())

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df.nunique()

In [ ]:
# Drop columns that we don't need in our Analysis
## There are adj-columns 
drop_columns = ['id', 'imdb_id', 'budget', 'revenue', 'homepage', 'production_companies', 'tagline', 'overview', 'keywords', 'release_date']
df.drop(drop_columns, axis=1, inplace=True)

In [ ]:
# converting the data type
df['release_year'] = df['release_year'].astype(int)

In [ ]:
df.info()

In [ ]:
len(df) - len(df.dropna())

In [ ]:
# drop null valuse from the data frame
df.dropna(inplace=True)

In [ ]:
df.info()

In [ ]:
# Crete a profit column
df['profit'] = df['revenue_adj'] - df['budget_adj']

# Exploratory Data Analysis (EDA)

### Which genres are most popular from year to year?

In [ ]:
# make a release year column as an index for 
df.set_index('release_year', inplace=True)
df.sort_index(ascending=False, inplace=True)

In [ ]:
df.groupby('release_year')['vote_count'].max()

In [ ]:
fig, ax = plt.subplots()

ax.plot(df.index, df['vote_count']);

In [ ]:
def split_values(data_series, delimiter = '|'):
    """
    split multiple value in a single string
    to a list of single strings each representing a single value
    
    parameters: 
    * data_series (pd.Series): String series with answers
    * delimiter (string): another decimal integer
                          Defaults to ';'
    Returns : (pd.Series): if column contains
    """
    
    # sub functions
    def is_splittable(pd_series, delimiter):
        """ Check if results multiple should be splitted - Returns boolean """
        
        return pd_series.str.contains(delimiter)
    
    def split_value(pd_series, delimiter):
        """ Function to split a single value """
        
        return pd_series.str.split(delimiter)
    
    # --------------------
    
    # Check if multiple value exist - if none: return original
    splittable_values = is_splittable(data_series, delimiter)
    if not splittable_values.any():
        return data_series
    
    # Else, split each value to a list
    modified_series = split_value(data_series, delimiter)
    
    # Replace NAs with empty lists
    mask_null = modified_series.isnull()
    modified_series.loc[mask_null] = modified_series.loc[mask_null].apply(lambda x: [])
    
    return modified_series

In [ ]:
object_cols = df.select_dtypes(include='object').columns.tolist()
for col in object_cols:
    df[col] = split_values(df[col])